:root {
    --cor-principal: #4586bf;
    --cor-menuatual: #040b11;
    --cor-menupassado: #949494;
    --cor-cinza: #d6d6d6;
    --cor-cinzaclaro: #f1f1f1;
    --cor-verde: #66cc73;
    --azul-claro: #8fc9fb;
  }

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;    
    background-color: rgba(0, 0, 0, 0.4);
}

.box-centralizar-modal { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: #fefefe;
    padding: 24px;
    border: 1px solid #888;
    width: 27%;
    border-radius: 20px;
    height: 71%;

}

.input-group { 
    
}
.container-inputs-gerenciar {
    width: 100%;  
      height: 68%;
}


.content { 
    display: flex;
    align-items: center;
}

.container-modal { 
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
} 


.titulo-cadastrar {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1.5px solid #d9d9d9;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .box-botao-criar {
    display: flex;
    width: 50%;
    cursor: pointer;
    height: 100%;
    justify-content: center;
  }

.box-botao-gerenciar { 
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
}

  .container-botao-modal { 
    display: flex;
    height: 11%;
    width: 100%;
  }

  .fundo-botao-gerenciar {
    background-color: var(--cor-principal);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    height: 93%;
    width: 79%;
    cursor: pointer;
  }

  .fundo-botao-criar { 
    background-color: var(--azul-claro);
    color: white;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    width: 79%;
  }
  
  .fundo-botao-criar  > span, .fundo-botao-gerenciar > span {
    font-size: 13px;
  }
.icon-cadastrar { 
    width: 18%;
}

.modal-titulo span i {
    font-size: 24px;
    padding: 10px;
}

.inputs-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.input-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #F7F7F7;
}
.input-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

.input-group input[type="text"]:focus {
    border-color: var(--cor-menupassado);
    outline: none;
}

.modal-botao-cadastrar button {
    background-color: var(--cor-verde);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-botao-cadastrar { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31%;
}

.modal-botao-cadastrar button a {
    color: #fff;
    text-decoration: none;
}

.opcoes-usuario {
    display: flex;
    width: 49px;
    justify-content: space-between;
}

.opcoes-usuario span>i {
    color: #565656;
    font-size: 17px;
    cursor: pointer;

}

.caixa-buscar { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-gerenciar-cadastrados { 
    display: flex;
    justify-content: space-between;
}