* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

body {
    background-image: url('../assets/imgs/loginnn\ 1.png');
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.logo-container {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputs-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    align-items: center;
}


.inputs-box input {
    height: 25px;
    padding: 5px;
    outline: #FFF;
    background-color: rgba(92,130,196,255);
    border: solid 1px #FFF;    
}

input::placeholder {
    color: #FFF;
}

.button-box {
    width: 25%;
}

button {
    border: none;
    border-radius: 70px;
    width: 100%;
    padding: 10px;
    background-color: #284474;
    cursor: pointer;
}

button:hover {
    background-color: #284474b0;
    transform: scale(1.1);
    transition: 1s ease-out;
}

a {
    text-decoration: none;
    color: #284474;
}

a:hover {
    color: #FFF;
}

@media screen and (max-width: 760px) {
    body {
        background-image: url('../assets/imgs/loginnn\ 2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container {
        flex-direction: column;
    }

    .logo-container {
        justify-content: left;
        width: 90%;
        position: relative;
        left: 20px;
        top: 20px;
        align-items: start;
    }

    .logo-container img {
        width: 300px;
    }

    .form-container {
        width: 90%;
        position: relative;
        align-items: center;
        gap: 0.5rem;
        margin-top: -300px;
    }

    .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        font-size: 12px;
    }

    .inputs-box {
        align-items: center;
        width: 100%;
    }

    .inputs-box input {
        height: 20px;
        width: 100%;
    }

    .subtitle {
        font-size: 12px;
    }
}