* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #4586bf;
  display: flex;
}


:root {
  --cor-principal: #4586bf;
  --cor-menuatual: #040b11;
  --cor-menupassado: #949494;
  --cor-cinza: #d6d6d6;
  --cor-cinzaclaro: #f1f1f1;
  --cor-verde: #66cc73;
  --azul-claro: #8fc9fb;
}


.container-bread {
  width: 66%;
  height: 34%;
  display: flex;
  align-items: center;
}
.breadcrumbs {
  display: flex;
  width: 100%;
  height: 39%;
  align-items: center;
  justify-content: center;
}

.breadcrumbs nav {
  width: 90%;
  font-size: 14px;
}

.breadcrumbs nav ol {
  list-style-type: none;
  padding: 0;
}

.breadcrumbs nav ol li {
  display: inline;
}

.breadcrumbs nav ol li a {
  color: var(--cor-menupassado);
  text-decoration: none;
}

.breadcrumbs nav ol li a:hover {
  color: var(--cor-menuatual);
  text-decoration: none;
}

.breadcrumbs nav ol li::after {
  content: ">";
  color: var(--cor-principal);
}

.breadcrumbs li:last-child::after {
  content: "";
}

.caixa-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 99.9%;
}

.content-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
}

.icon-cadastrar > img {
  width: 80px;
  margin-right: 10px;
}



.container {
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
  width: 98%;
  height: 93%;
  display: flex;
  flex-direction: column;
}

.container-superior {
  width: 100%;
  height: 34%;
  display: flex;
  position: relative;
}

.container-esquerda {
  display: flex;
  flex-direction: column;
  width: 66%;
}

.container-legendas {
  width: 34%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titulo-legendas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31%;
}

.titulo-legendas > span {
  font-weight: 600;
}

.fundo-legenda-status,
.fundo-legenda-condicao {
  display: flex;
  background: white;
  width: 80%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.content-legenda {
  display: flex;
  justify-content: center;
  height: 55%;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}

.conteudo-legenda {
  display: flex;
  justify-content: center;
  height: 51%;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}

.box-legenda {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.icon-status {
  width: 27px;
  display: flex;
  justify-content: center;
}

.legenda-status1 > span,
.legenda-status2 > span,
.legenda-status3 > span {
  font-size: 14px;
}

.icon-status img {
  width: 20px;
}

.legenda-status1,
.legenda-status2,
.legenda-status3 {
  display: flex;
  align-items: center;
}

.container-titulo {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.titulo-pagina {
  display: flex;
  flex-direction: column;
  width: 89%;
}

.titulo {
  font-size: 30px;
  font-weight: 500;
}

.subtitulo {
}

.container-botao {
  display: flex;
  width: 67%;
  justify-content: space-around;
  align-items: center;
  height: 18%;
}

.box-botao {
  width: 50%;
  height: 84%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo-botao {
  background-color: var(--cor-verde);
  border-radius: 21px;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flexbotao > span {
  color: white;
  font-size: 14px;
}

.box-botao-filtro {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fundo-botao-filtro {
  background-color: white;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74%;
  height: 73%;
  border: var(--cor-cinza) solid 2px;
  cursor: pointer;
}

.textfilter {
  font-size: 14px;
}

.flex-filter {
  width: 77%;
}

.container-filtro {
  z-index: 2;
  width: 234px;
  position: absolute;
    top: 87%;
    left: 27.61%;
    height: 229px;

}



.fundo-filtro {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  border: var(--cor-cinza) solid 2px;
  display: none;
}

.box-do-filtro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
  letter-spacing: 1px;
  height: 12%;
  font-size: 15px; 
}

.box-botoes-filtro {
  display: flex;
  justify-content: space-around;
  height: 15%;
}

.opcoes-filtro {
  display: flex;
  flex-direction: column;
}

.titulofilter {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 22px;
}

.caixafilter { 
  width: 88%;
}

.checkboxfilters {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.caixacheckbox {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}


.container-botoes-filtro {
width: 100%;
display: flex;
height: 18%;

align-items: center;
    justify-content: center;
}

.container-checkbox  {
  font-size: 14px; 
}

.checkbox {
  background-color: #eee;
  border: 1px solid #ccc;
}

.botao-cancelar {
  background-color: var(--cor-cinzaclaro);
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo-botao > span {
  font-size: 12px;
}

.botao-confirmar {
  background-color: #8fc9fb;
  border-radius: 5px;
  width: 40%;
  cursor: pointer;
  height: 55%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.conteudo-botao-confirmar > span {
  color: white;
  font-size: 13px;
}

.flexbotao {
}

.container-inferior {
  width: 100%;
  height: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.box-maquinas {
  width: 95%;
  height: 94%;
}

.background-maquinas {
  background-color: var(--cor-principal);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.container-maquinas {
  width: 30%;
  height: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coluna-maquinas {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa-maquina {
  background-color: white;
  border-radius: 15px;
  width: 100%;
  height: 87%;
  display: flex;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.borda-alerta {
  border: 2px solid red;
}

.borda-critico {
  border: 4px solid orange;
}

.sombra-alerta {
  box-shadow: 0 0 10px orange;
}

.sombra-critico {
  box-shadow: 0 0 10px red;
}
.box-icon-maquina {
  width: 38%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixadotitulo {
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box-informacoes {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-around;
  height: 54%;
}

.caixa-status {
  display: flex;
  align-items: start;
  font-size: 14px;
  width: 95%;
  justify-content: space-evenly;
}

.imagemstatus {
  width: 30px;
}

.imagemcondicao {
  width: 30px;
}

#condicao,
#status {
  font-weight: 500;
}

.caixa-condicao {
  display: flex;
  align-items: start;
  width: 95%;
  font-size: 14px;
  justify-content: space-evenly;
}

.caixa-condicao > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 55%;
}

.caixa-status > span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39%;
}

.imagem-maquina > img {
  display: flex;
  width: 100px;
}

.box-info-maquina {
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 62%;
}

.patrimonio-titulo {
  font-size: 20px;
  font-weight: 600;
}

.caixa-cor-aqui {
  background: #8fc9fb;
  width: 73%;
  border-radius: 5px;
}

.caixa-cor-aqui a span {
  color: white;
}

.menu ul li a .txt-link-aqui {
  margin-left: 7px;
  font-size: 14px;
  font-weight: 500;
}

.menu ul li a .txt-link-aqui {
  margin-left: 7px;
  font-size: 14px;
  font-weight: 500;
}

/* Estilos para a barra de rolagem */
/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dddddd;
  border-radius: 0 6px 6px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8fc9fb;
  border-radius: 15px;
}

/* Button */
::-webkit-scrollbar-button {
  display: none;
}


.checkbox-wrapper-18 {
  display: flex;
}


.checkbox-wrapper-18 .round {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.checkbox-wrapper-18 .round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 17px;
    width: 18px;
  display: block;
}

.checkbox-wrapper-18 .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 3px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 12px;
}

.checkbox-wrapper-18 .round input[type="checkbox"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchTerm {
  width: 51%;
  border: 3px solid #4586BF;
  border-right: none;
  height: 31px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #8D8B8B;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 0px solid #4586BF;
  background: #4586BF;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.box-localizacao > span { 
font-weight: 600;
height: 27%;
    width: 100%;
    display: flex;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
