@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #4586bf;
  display: flex;
}

.logomarca img {
  width: 250px;
  height: auto;
  margin-bottom: 53px;
}

.txt-cadastrar-maquina a {
  text-decoration: none;
  color: #ffffff;
}

.menu {
  margin-left: 16px;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 406px;
  width: 230px;
  position: relative;
}

.menu ul {
  list-style-type: none;
}

.menu ul li.item-menu:hover {
  background: #8fc9fb;
  border-radius: 7px;
}

.menu ul li.item-menu {
  transition: 0.3s;
}

.item-menu a:hover {
  color: #fff;
}

.menu ul li a {
  text-decoration: none;
  color: #656565;
  display: flex;
  margin-bottom: 15px;
  line-height: 30px;
  margin-left: 10px;
}

.menu ul li a .txt-link {
  margin-left: 7px;
  font-size: 13px;
  font-weight: 500;
}

.item-menu a span > i {
  color: #292929;
  font-size: 18px;
  cursor: pointer;
  padding: 4px;
}

.item-menu-deslogar {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 28%;
  margin-bottom: 10px;
  font-weight: 500;
}

.txt-link a {
  text-decoration: none;
  color: #292929;
}

.container {
  flex: 1;
  max-width: 1000px;
  height: 495px;
  background-color: #f5f5f5;
  margin: 18px auto;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.box-title-content {
    font-size: 15px;
    width: 500px;
}

.row {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px;
  }

  
.box {
    width: 188px;
    background-color: #fff;
    padding: 7px;
    border-radius: 10px;
    height: 86px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.box-title {
  font-size: 11px;
  text-align: center;
  border-bottom: 1px solid #aaaaaa;
  border-bottom-width: 1px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 600;
  padding-bottom: 3px;
}

.box-number {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-type {
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.container-charts {
    height: 340px;
}

.box-charts1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 176px;
    width: 100%;
}

.chart1, .chart2, .chart3 {
    background: white;
    height: 90%;
    width: 48%;
    border-radius: 0px 10px 0px 10px;
    overflow: hidden;
}

 .chart4 {
  background: white;
  height: 90%;
  width: 48%;
  border-radius: 0px 10px 0px 10px;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;

  
}

.titulo-chart {
    width: 100%;
    height: 20%;   
    background-color: #4586bf;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 10px 10px 0px 0px;
    
}

.titulo-chart-table  { 
  width: 100%;
  height: 20%;   
  background-color: #4586bf;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
  position: sticky;
  top: 0;
    z-index: 1;
}

.grafico {
  width: 90%;
  height: calc(100% - 37px); /* Subtrai a altura do título */
}

.graficoT { 
  max-height: 300px; /* Altura máxima da tabela */
  position: relative;
  display: flex;
  justify-content: center;
}


table {
  width: 80%;
  border-collapse: collapse;
  overflow: scroll;
}
th, td {
  border: 1px solid black;
  padding: 6.0px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.tabela-titulo {
  position: sticky;
  top: 37px; /* Altura do titulo-chart */
  z-index: 1;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #dddddd;
  border-radius: 0 6px 6px 0;
}

::-webkit-scrollbar-thumb {
  background: #8fc9fb;
  border-radius: 15px;
}

::-webkit-scrollbar-button {
  display: none;
}

.tabela { 
  
}