* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.header {
  background: #00000000;
  padding-inline: 16px;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.header img {
  width: 20%;
}

.nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 48px;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-list a {
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

.section-carousel {
  width: 100%;
  position: relative;
  z-index: 1;
}

.carousel img {
  width: 600px;
}

.container-slide {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 97vh;
}

.carousel-elements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.carousel-elements h1 {
  font-size: 50px;
  width: 100%;
}


.carousel-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.carousel-buttons button {
  width: 45%;
  border: none;
  padding: 14px;
  border-radius: 20px;
  cursor: pointer;
}

.carousel-buttons button:hover {
  transition: 0.5s ease-out;
  transform: scale(1.1);
}

.dark-title {
  color: #ffffff; 
}


.botao1-slide2 {
  background-color: #90BEDA;
  font-weight: 500;
  color: white;
}

.botao2-slide2  {
  background-color: #E3E9F6;
  font-weight: 600;
}

.botao1-slide3  {
  background-color: #F6FAFF;
  color: #3F8EBF;
  font-weight: 600;
}

.botao2-slide3  {
  background-color: #3F8EBF;
  font-weight: 600;
  color: white;
}

.titulo1-slide3 {
  color: #27475A;
}

.titulo-slide1 {
color: #254B80;
}

.titulo-slide2 { 
color: white;
}

.descricao-slide3 { 
  font-size: 20px;
  color: rgb(255, 255, 255)
  
}
.titulo2-slide3 {
  color: #ffffff;
}


.light-title-2 {
  color: #ffffff;
}

.descricao-slide2 { 
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.titulo1-slide1 {
color: #445E96;
}

.titulo2-slide2 {
color: #ffffff;
}

.botao1-slide1 {
  background-color: #445E96;
  color: white;
  font-weight: 600;
}

.botao2-slide1 {
  background-color: #f5fbff;
  color:#445E96;
  font-weight: 600;
}

.first-slide {
  background-color: #A6C0E4;
  height: 100%;
}

.second-slide {
  width: 100%;
  background-color: #3F8EBF;
}

.third-slide {
  width: 100%;
  background-color: #90BEDA;
}

.section-services {
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
}

.section-services .text-elements {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section-services .text-elements h1 {
  color: #34517b;
  font-size: 35px;
}

.service-icons {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.service-icons img {
  display: flex;
  align-items: center;
  width: 55px;
}

.container-icons-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.container-icons-2 {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: center;
}

.container-icons-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.background-icons {
  padding: 30px;
  background-color: #3F8EBF;
  border-radius: 60px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 35%;
  text-align: center;
}

.icon:hover .background-icons {
  transform: scale(1.1); 
}

.icon .background-icons {
  transition: transform 0.3s ease; 
}

#ram-icon {
  margin-right: 25%;
  margin-bottom: 100%;
}

#rede-icon {
  margin-right: 50%;
}

#cpu-icon {
  margin-bottom: 40%;
}

.section-extra-info {
  height: 90vh;
  width: 100%;
}

.container-extra-info {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.extra-info-1 {
  width: 25%;
  background-image: url('../assets/imgs/image\ 20.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.extra-info-2 {
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: #3F8EBF;
}

.extra-info-3 {
  width: 25%;
  background-image: url('../assets/imgs/Rectangle\ 113.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.extra-info-4 {
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: #3F8EBF;
}

.container-extra-info-itens {
  color: #FFF;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  align-items: center;
}


.container-extra-info-itens button {
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 10px;
  padding: 16px;
  background-color: #3F8EBF;
  cursor: pointer;
}

.container-extra-info-itens button:hover {
  transition: 1s ease;
  background-color: #ffffffc2;
  color: #000000;
  transform: scale(1.05);
}

.section-clients {
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.section-clients h1 {
  color: #030303;
  font-weight: 400;
  font-size: 40px;
}

.container-clients {
  width: 93%;
  height: 70%;
  background-color: red;
  display: flex;
}

.clients-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.box-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  height: 60vh;
  width: 30%;
  gap: 2rem;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);

}

.client-cit-img {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 95%;
}

.client-principal-text {
  display: flex;
  text-align: center;
  max-width: 95%;
}

.client-subtext {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.client-subtext img {
  width: 30%;
}

.client-name {
  font-weight: lighter;
  color: #767676;
  font-size: 17px;
}

.client-work {
  color: #767676;
  font-weight: 500;
  font-size: 15px;
}

.section-values {
  background-color: #34517B;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  
}

.container-values {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  margin-left: 5%;
 
}


.values-text {
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
}

.values-title {
  color: #FFF;
  display: flex;
  justify-content: left;
}

.values-p {
  color: #FFF;
  font-weight: light;
  width: 60%;
}

.values-bar {
  width: 20%;
  height: 1px;
  background-color: #FFF;
  display: flex;
  justify-content: left;
  align-items: left;
}

.values-num {
  font-weight: bold;
  font-size: 30px;
  color: #91AFD9;
}

.section-contact {
  height: 80vh;
  background-color: #ffffff;
}

.container-contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.contact-subtitle {
  display: flex;
  color: #37609B;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contact-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}



.icons-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact-icons h1 {
  color: #3F8EBF;
  font-size: 19px;
}

.contact-icons p {
  font-size: 15px;
  font-weight: 500;
}

.contact-img {
  background-color: #266f9c;
  border-radius: 50px;
  width: 92px; 
  height: 92px;  
  border-radius: 50%; 
  display: flex; 
  justify-content: center;
  align-items: center; 

}

.contact-img > img {
  width: 40px;
}
footer {
  background-color: #3f8ebf;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #FFF;
  
}

footer h1 {
  font-size: 16px;
}

.social-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  gap: 1rem;
}

.social-container h1 {
  font-size: 16px;
  color: #FFF;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.section-forms {
  display: flex;
  align-items: center;
  height: 100vh;
}

.img-forms {
  height: 100%;
  width: 40%;
}

.img-forms img {
  height: 100%;
  width: 100%;
}

.container-forms {
  background-color: #f5f5f5;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 50px 2px 9px rgba(1, 0, 2, 0.2);
}

.text-forms {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #3f8ebf;
  gap: 0.5rem;
}

.inputs-form {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.inputs-form input {
  width: 45%;
  height: 40px;
  border-color: #B8B8B8;
  background-color: #ECE9E9;
}

.inputs-form input:focus {
  border-color: #B8B8B8; 
  background-color: #ECE9E9; 
  outline-width: 2px; 
  outline-style: ridge; 
  outline-color: #B8B8B8; 
}

.inputs-form input::placeholder {
  position: absolute;
  left: 5px;
}

.message {
  justify-content: center;
}

.message input {
  width: 100%;
  height: 225px;
}

.message input::placeholder {
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: left; 
}

.button-forms {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 60px;
}

.button-forms button {
  width: 70%;
  height: 84%;
  cursor: pointer;
  background-color: #3f8ebf;
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  color: #ffffff;
}

.button-forms button:hover {
  transition: 0.5s ease;
  transform: scale(1.03);
  background-color: #124b9ba2;
  color: rgb(255, 255, 255);
}

footer .ph {
  font-size: 35px;
  color: #FFF;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  gap: 1rem;
}

.img-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-footer img {
  width: 200px;
}

.logo-footer p {
  font-size: 14px;
  text-align: center;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 1rem;
  text-align: center;
}

.contact-footer h1 {
  font-size: 13px;
  width: 100%;
}

.contact-footer p {
  font-size: 13px;
  width: 100%;
}

/*Menu*/
.menu-cell{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  text-align: center;
  background-color: #13131388;
  justify-content: start;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu-header{
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 70px;
  align-items: center;
  margin-bottom: 1.3px;

}

.menu-header > #logoCel {
padding: 10px;
}

.menu-cell ul{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.menu-cell ul li {
  display: flex;
  background-color: #1b1b1b7e;
  border-bottom: 1px solid gray;
}

.menu-cell ul li a {
  padding: 9px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  text-align: start;
}

@media screen and (max-width: 412px) {

  .nav {
    justify-content: space-around;
    gap: 4rem;
  }

  .header img {
    width: 50%;
  }

  .hamburger {
    display: block;
    z-index: 2;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 65vh;
    background: #3F8EBF;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
    z-index: 1;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 58px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .container-slide {
    height: 70vh;
  }

  .container-slide {
    flex-direction: column;
  }

  .carousel-elements {
    align-items: center;
    justify-content: center;
  }

  .carousel-elements h1 {
    font-size: 25px;
    width: 300px
  }

  .carousel-elements p {
    font-size: 12px;
    width: 300px;
  }

 
  .carousel-buttons {
    text-align: center;
    width: 300px;
  }

  .carousel img {
    width: 200px;
  }

  .section-services {
    flex-direction: column;
    align-items: center;
    height: 80vh;
  }

  .section-services .text-elements {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }

  .text-elements h1 {
    width: 100%;
  }

  .background-icons {
    padding: 10px;
  }

  .service-icons {
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }

  .container-icons-1 {
    gap: 2rem;
  }

  .container-icons-3 {
    gap: 2rem;
  }

  .background-icons img {
    width: 40px;
  }

  #ram-icon {
    margin-right: 0%;
    margin-bottom: 0%;
  }
  
  #rede-icon {
    margin-right: 0%;
  }
  
  #cpu-icon {
    margin-bottom: 0%;
  }

  .section-extra-info {
    flex-direction: column;
    width: 100%;
    height: 200vh;
  }

  .section-extra-info {
    font-size: 14px;
    text-align: center;
  }

  .container-extra-info {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .container-extra-info div {
    width: 100%;
    height: 25%;
    align-items: center;
  }

  .container-extra-info button {
    display: none;
  }

  .extra-info-1 {
    background-image: url('../assets/imgs/image\ 31.png');
    background-repeat: none;
  }

  .container-extra-info-itens {
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(0%, -30%);
  }

  .container-extra-info-itens p {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
  }

  .extra-info-3 {
    background-image: url('../assets/imgs/Rectangle\ 183.png');
    background-size: 100% 100%;
  }

  .section-clients {
    height: 60vh;
  }

  .clients-container {
    width: 100%;
  }

  .box-client {
    width: 80%;
    height: 400px;
  }

  .client-subtext {
    right: 40px;
  }

  .client-1 {
    width: 100%;
  }

  #client-2 {
    display: none;
  }

  #client-3 {
    display: none;
  }

  #client-4 {
    display: none;
  }

  .client-subtext {
    position: relative;
    transform: translate(18%, -25%);
  }
  
  .section-values {
    height: 80vh;
  }

  .container-values {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  .container-values div {
    height: 30%;
    width: 95%;
  }

  .values-bar {
    display: none;
  }

  .contact-img {
    height: 50px;
    width: 50px;
  }

  .contact-img img {
    height: 30px;
    width: 30px;
  }

  .section-contact {
    height: 50vh;
  }

  .container-contact {
    text-align: center;
  }

  .container-contact h1 {
    font-size: 25px;
  }

  .contact-icons {
    width: 80px;
    justify-content: space-around;
  }

  .contact-icons h1 {
    font-size: 10px;
  }

  .contact-icons p {
    display: none;
  }

  .img-forms {
    display: none;
  }


  .container-forms {
    width: 100%;
    gap: 1rem;
  }

  .message input {
    height: 180px;
  }

  .social-container h1 {
    font-size: 10px;
  }

  .contact-footer h1 {
    font-size: 10px;
  }

  .contact-footer p {
    font-size: 10px;
  }

  .logo-footer p {
    display: none;
  }

  .logo-footer img {
    width: 150px;
  }

}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 0 6px 6px 0;
}

::-webkit-scrollbar-thumb {
  background: #3e76a7;
  border-radius: 15px;
}

::-webkit-scrollbar-button {
  display: none;
}
