* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

body {
    background-image: url(../assets/imgs/login\ 1.png);
    background-repeat: no-repeat;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 3rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 2s ease, transform 1.5s ease;
}

.logo-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container.show {
    opacity: 1;
    transform: translateX(0%);
}

.title {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
}

.title > h1 {
    font-size: 28px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    width: 50%;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input {
    width: 100%;
    height: 25px;
    padding: 5px;
    background-color: rgba(92,130,196,255);
    border: solid 1px #FFF;
}

input:focus {
    outline: #FFF;
    outline-offset: 5px;
}

.button-box {
    width: 50%;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #284474;
    border-radius: 70px;
    border: none;
    height: 38px;
    cursor: pointer;
}

button:hover {
    background-color: #2844749d;
    transition: 1s ease-out;
}

.cad-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cad-box  { 
    font-size: 13px;
}

.cad-box a:hover {
    cursor: pointer;
    color: #284474;
}

@media screen and (max-width: 760px) {
    body {
        background-image: url('../assets/imgs/mobilelogin.png');
        background-size: cover;
    }

    main {
        flex-direction: column-reverse;
        height: 100vh;
        justify-content: space-between;
        gap: 5rem;
    }

    .login-container {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 25px;
        z-index: 1;
    }

    .logo-container {
        height: 10px;
        width: 100%;
        height: 100px;
        justify-content: end;
        right: 15px;
        z-index: 2;
        align-items: end;
    }

    .logo-container img {
        width: 250px;
    }

    a {
        position: relative;
    }
}