* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.header {
  background: #00000010;
  padding-inline: 16px;
  position: absolute;
  z-index: 2;
}

.header img {
  width: 20%;
}

.nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 48px;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-list a {
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

.container-slide-sobre {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 97vh;
  background-image: url(../assets/imgs/banner-sobre-nos.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.titulo-sobre-nos {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: black;
}

.content {
  width: 100%;
  height: 95vh;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
}

.container-content {
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.texto {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.imagem {
  background-image: url("assets/imgs/imagemEquipe2.png");
  width: 40%;
  height: 50vh;
}

.imagem2 {
  display: none;
}

.imagem > img {
  width: 500px;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  border-bottom: 16px solid #34517b;
  width: 45%;
  justify-content: center;
}

.paragrafo {
  font-weight: 400;
  font-size: 17px;
}

.container-botao {
  display: flex;
  justify-content: center;
}

.botao {
  color: aliceblue;
  background-color: black;
  width: 250px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 412px) {

  .nav {
    justify-content: right;
    margin-right: 40px;
  }

  .header img {
    width: 50%;
  }

  .hamburger {
    display: block;
    z-index: 2;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 65vh;
    background: #3F8EBF;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
    z-index: 1;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 58px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .container-slide-sobre {
    height: 60vh;
  }

  .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 430px;
    margin-bottom: 20px;
  }

  .titulo-sobre-nos {
    font-size: 44px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .texto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    height: 97vh;
  }

  .imagem2 {
    display: block;
  }

  .imagem2 img {
    width: 350px;
    margin: -20px;
  }

  .container-values {
    margin: 268px 0 61px 5%;
  }

  div.img-footer {
    display: none;
  }

  .container-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .imagem {
    display: none;
  }

  .imagem2 {
    margin-top: 50px;
  }

  .paragrafo {
    font-size: 16px;
    text-align: center;
  }

  .container-values {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translate(0%, -40%);
  }
}
